<div class="container">
  <h2>add incident</h2>
  <div class="form-group">
    <label for="photo">
      <i class="fas fa-camera"></i>
      <span>Ajouter une photo</span>
    </label>
    <input type="file" id="photo" name="photo" accept="image/*">

    <div class="form-group">
      <label for="macro_proc"></label>
      <select id="macro_proc" name="macro_proc" required>
        <option value="">Select a Macro Processus</option>
        <option value="1">Corporate Finance</option>
        <option value="2">Trading and Sales</option>
        <option value="3">Retail Banking</option>
        <option value="4">Commercial Banking</option>
        <option value="5">Payment and Settlement</option>
        <option value="6">Agency Services</option>
        <option value="7">Asset Management</option>
        <option value="8">Retail Brokerage</option>
      </select>
    </div>

    <div class="form-group">
      <label for="proc"></label>
      <select id="proc" name="proc" required>
        <option value="">Select a Processus</option>
        <option value="1">Corporate finance</option>
        <option value="2">Municipal / government finance</option>
        <option value="3">Merchant banking</option>
        <option value="4">Advisory services</option>
        <option value="5">Sales</option>
        <option value="6">Market-making</option>
        <option value="7">Proprietary positions</option>
        <option value="8">Treasury</option>
        <option value="9">Retail banking</option>
        <option value="10">Private banking</option>
        <option value="11">Card services</option>
        <option value="12">Commercial banking</option>
        <option value="13">External clients</option>
        <option value="14">Custody</option>
        <option value="15">Corporate agency</option>
        <option value="16">Corporate trust</option>
        <option value="17">Discretionary fund management</option>
        <option value="18">Non-discretionary fund management</option>
        <option value="19">Retail brokerage</option>
      </select>
    </div>
    <div class="form-group">
      <input type="date" id="entreprise" name="entreprise">
      <label for="entreprise"><i class="fas fa-building"></i> Detection date</label>
    </div>
    <div class="form-group">
      <input type="date" id="service" name="service">
      <label for="service"><i class="fas fa-tools"></i> Declaration date</label>
    </div>
    <div class="form-group">
      <input type="text" id="fonction" name="fonction">
      <label for="fonction"><i class="fas fa-user-tag"></i> occurence date</label>
    </div>
    <div class="form-group">
      <input type="email" id="email" name="email" required>
      <label for="email"><i class="fas fa-envelope"></i> Email</label>
    </div>
    <div class="form-group">
      <input type="tel" id="telephone" name="telephone">
      <label for="telephone"><i class="fas fa-phone"></i> Téléphone</label>
    </div>
    <div class="form-group">
      <input type="date" id="date_naissance" name="date_naissance">
      <label for="date_naissance"><i class="fas fa-calendar-alt"></i> Date de naissance</label>
    </div>
    <div class="form-group">
      <textarea id="commentaire" name="commentaire" rows="4"></textarea>
      <label for="commentaire"><i class="fas fa-comment"></i> Commentaire</label>
    </div>
    <button type="submit" onclick="addincident()" >Ajouter le contact</button>
  </div>
<script>src="addincident.component.ts"</script>
</div>
